<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
  <appSettings>
		<add key="Interval" value="1"/>
		<add key="ImageRetrivalInterval" value="1"/>
		<add key="CustomerID"  value="1000"/>
		<add key="Password" value="0001"/>
    <add key="IsTankwagonEnabled" value="TRUE"/>
	</appSettings>
	<system.serviceModel>
   
		<bindings>
   <wsHttpBinding>
    <binding name="WSHttpBinding_ICloudService" maxBufferPoolSize="5242880"
     maxReceivedMessageSize="6553600">
     <security mode="None" />
    </binding>
   </wsHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost/CloudWCF/Cloud.svc" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_ICloudService" contract="Cloud.ICloudService"
    name="WSHttpBinding_ICloudService" />
  </client>
	</system.serviceModel>
	<connectionStrings>
		<add name="DeliveryStreamCustomer"
   connectionString="Data Source=192.168.0.216;Initial Catalog=WebAscendTest;Persist Security Info=True;User ID=sa;Password=fsww9999!"
   providerName="System.Data.SqlClient" />
	</connectionStrings>
  <!--<connectionStrings>
    <add name="DeliveryStreamCustomer"
   connectionString="Data Source=192.168.2.70;Initial Catalog=Santmyer0807;Persist Security Info=True;User ID=SA;Password=fsww.123"
   providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>