<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <!--<connectionStrings>
        <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.Ascend_Demo_408_2008ConnectionString"
            connectionString="Data Source=192.168.2.89\sql2008;Initial Catalog=Santmyer10082014;Persist Security Info=True;User ID=sa;Password=fsww"
            providerName="System.Data.SqlClient" />
        <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.AScendCloud02ConnectionString"
            connectionString="Data Source=192.168.2.89\sql2008;Initial Catalog=Santmyer10082014;Persist Security Info=True;User ID=sa;Password=fsww"
            providerName="System.Data.SqlClient" />
        <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.Ascend_Demo_408_2008ConnectionString1"
            connectionString="Data Source=192.168.2.89\sql2008;Initial Catalog=Santmyer10082014;Persist Security Info=True;User ID=sa;Password=fsww"
            providerName="System.Data.SqlClient" />
        <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.Ascend_Demo_408_20081ConnectionString"
            connectionString="Data Source=192.168.2.89\sql2008;Initial Catalog=Santmyer10082014;Persist Security Info=True;User ID=sa;Password=fsww"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
  <!--<connectionStrings>
    <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.Ascend_Demo_408_2008ConnectionString"
        connectionString="Data Source=192.168.2.70;Initial Catalog=Santmyer0807;Persist Security Info=True;User ID=sa;Password=fsww.123"
        providerName="System.Data.SqlClient" />
    <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.AScendCloud02ConnectionString"
        connectionString="Data Source=192.168.2.70;Initial Catalog=Santmyer0807;Persist Security Info=True;User ID=sa;Password=fsww.123"
        providerName="System.Data.SqlClient" />
    <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.Ascend_Demo_408_2008ConnectionString1"
        connectionString="Data Source=192.168.2.70;Initial Catalog=Santmyer0807;Persist Security Info=True;User ID=sa;Password=fsww.123"
        providerName="System.Data.SqlClient" />
    <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.Ascend_Demo_408_20081ConnectionString"
        connectionString="Data Source=192.168.2.70;Initial Catalog=Santmyer0807;Persist Security Info=True;User ID=sa;Password=fsww.123"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <connectionStrings>
    <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.Ascend_Demo_408_2008ConnectionString"
      connectionString="Data Source=FSWWIN-PC046;Initial Catalog=AscendChrisNew;Persist Security Info=True;User ID=sa;Password=FSWW123!"
      providerName="System.Data.SqlClient" />
    <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.AScendCloud02ConnectionString"
      connectionString="Data Source=FSWWIN-PC046;Initial Catalog=AscendChrisNew;Persist Security Info=True;User ID=sa;Password=FSWW123!"
      providerName="System.Data.SqlClient" />
    <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.Ascend_Demo_408_2008ConnectionString1"
      connectionString="Data Source=FSWWIN-PC046;Initial Catalog=AscendChrisNew;Persist Security Info=True;User ID=sa;Password=FSWW123!"
      providerName="System.Data.SqlClient" />
    <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.Ascend_Demo_408_20081ConnectionString"
      connectionString="Data Source=FSWWIN-PC046;Initial Catalog=AscendChrisNew;Persist Security Info=True;User ID=sa;Password=FSWW123!"
      providerName="System.Data.SqlClient" />
    <add name="DeliveryStreamCustomerWinServ.DataAccess.Properties.Settings.Santymyer02162014ConnectionString"
      connectionString="Data Source=FSWWIN-PC046;Initial Catalog=AscendChrisNew;Persist Security Info=True;User ID=sa;Password=FSWW123!"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>